div {
    border: 2px solid black;
    margin-bottom: 30px;
}

.uniform-margin {
    width: 300px;
}

.percentage-width {
    width: 50%;
}

.viewport-width{
    width: 50vw;
}

.min-max-width{
    max-width: 100px;
    max-width: 300px;
}