* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 900px;
}

.picks {
    display: flex;
    gap: 2em;
    margin: 2em;

}
.media {
    list-style-type: none;
    flex: 1 0 30%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
   
    
}

img {
    width: 100%;
    height: auto;
    display: block;
}

