div {
    border: 2px solid black;
    margin-bottom: 10px;
}

li{
    list-style: none;
    margin: 15px;
}

.fixed {
    height: 200px;
}

.percentage{
    height: 50%;
}

.viewport{
    height: 50vh;
}

.min-max{
    min-height: 100px;
    min-height: 300px;
}